{# Entities #}
{% set response_action_implementation = ':octicons-reply-24:{ .response_action_impl }' %}
{% set response_action = ':octicons-light-bulb-24:{ .response_action }' %}
{% set response_playbook = ':octicons-repo-24:{ .response_playbook }' %}
{% set unimplemented = ':octicons-x-circle-24:{ .unimplemented }' %}
{% set threat = ':octicons-shield-24:{ .threat }' %}
{% set software = ':octicons-package-24:{ .software }' %}
{% set artifact = ':octicons-codescan-24:{ .artifact }' %}

{# Misc #}
{% set external_link = ':octicons-cross-reference-24:{ .external_link }' %}
{% set tag = ':octicons-tag-24:{ .tag }' %}
{% set requirements = ':octicons-checklist-24:{ .requirements }' %}

{# Statuses #}
{% set severity_high = ':octicons-alert-24:{ .severity_high }' %}
{% set severity_medium = ':octicons-alert-24:{ .severity_medium }' %}
{% set severity_other = ':octicons-alert-24:{ .severity_other }' %}

{# Severity #}
{% set status_testing = ':octicons-beaker-24:{ .status_testing }' %}
{% set status_buggy = ':octicons-bug-24:{ .status_buggy }' %}
{% set status_approved = ':octicons-check-24:{ .status_approved }' %}
{% set status_other = ':octicons-check-24:{ .status_other }' %}
