title: Название действия реагирования
id: RA0000          # Уникальный идентификатор действия реагирования
stage: RS0000       # Идентификатор стадии реагирования
brief: Краткое описание действия реагирования в одну строку
authors: Ваше имя / Никнейм / Аккаунт в социальной сети
creation_date: ДД/ММ/ГГГГ
modification_date: ДД/ММ/ГГГГ
requirements: []    # Идентификаторы действий реагирования, которые должны быть выполнены на этапе подготовки
resources:          # Ресурсы, которые связаны с текущим действием реагирования
  prerequisites: [] # Ресурсы, которые необходимы для успешного выполнения действия реагирования
  results:          # Ресурсы, которые создаются / изменяются в результате выполнения действия реагирования
    main: []        # Ресурсы, являющиеся основным результатом текущего действия реагирования
    side: []        # Ресурсы, являющиеся побочным результатом текущего действия реагирования
description: |
  Подробное описание рабочего процесса в формате [Markdown](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet)
  Здесь будут сохранены новые строки.
references:
  - https://example1.com
  - https://example2.com
